#AIzaSyB34V1AgenYp2wdq8LJ9JJVS-7OQc_mshE
{
  padding: auto;
}

@import url('https://www.googleapis.com/webfonts/v1/webfonts?key=AIzaSyB34V1AgenYp2wdq8LJ9JJVS-7OQc_mshE');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
